.main_container {
  padding-top: 11.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  font-family: "Roboto Serif", sans-serif;
}

.text_picture_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}

.text_picture_container > h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2.2em;
}

.picture_container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.picture_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_container_first {
  display: flex;
  justify-content: space-around;
  padding-left: 2em;
  padding-right: 2em;
}

.text_container_first > p {
  width: 33%;
  text-align: justify;
  font-size: 1.5em;
  font-family: "Rajdhani", sans-serif;
}

.text_container_second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  width: 100%;
}

.text_container_second > p {
  width: 100%;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.1em;
  font-family: "Rajdhani", sans-serif;
}

.text_container_second > .list_icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 4em;
  padding: 1em;
  width: 100%;
  height: fit-content;
  padding-bottom: 2em;
  flex-basis: 100%;
}

.text_container_second > .list_icons > div {
  width: 100%;
  height: 190px;
  border-radius: 25px;
  animation: flyInAnimation 15s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container_second > .list_icons > div > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@keyframes flyInAnimation {
  0% {
    transform: translateX(700%);
  }
  100% {
    transform: translateX(-870%); /* The image width */
  }
}

@keyframes flyInAnimationMobile {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-950%); /* The image width */
  }
}

@media all and (max-width: 760px) {
  .main_container {
    flex-direction: column;
  }
  .text_container_first {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }
  .text_container_first > p {
    width: 95%;
    font-size: 19px;
  }
  .text_container_second > .list_icons {
    width: 100vw;
  }
  .text_container_second > .list_icons > div {
    animation: flyInAnimationMobile 10s linear infinite;
  }
  .text_container_second > .list_icons > div > img {
    padding: 1em;
  }
  .text_container_second > p {
    width: 70%;
    font-size: 19px;
  }
}
