.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}

.background_image_container {
}

.background_image_container > img {
  opacity: 0.5;
  object-fit: cover;
}

.services {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8em;
}

.item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1.5em;
  border: 2px solid rgb(236, 31, 121);
  padding: 0.5em;
  border-radius: 0.5em;
}

.item > img {
  width: 200px;
  height: 200px;
}

.item > ul {
  list-style: none;
}

.item > ul > li {
  margin: 0.2em;
  font-size: 1.5em;
}

.about_us_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}

.about_us_container > .about_us_info {
  display: flex;
  justify-content: center;
}

.about_us_info > .first_info_item {
}
