.text_container {
  display: flex;
  justify-content: space-around;
}

.text_container > div {
  width: 30%;
}

.text_container > div > h1 {
  font-family: "Comfortaa", cursive;
}

.text_container > div > p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5em;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image_container > h1 {
  position: absolute;
}
