@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

div {
  /*Remove blue color when cliked on div container*/
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --pink-color: rgb(237, 30, 121);
}

body {
  background-color: var(--main-color);
}
/*Removing cast button from video*/
video::-internal-media-controls-overlay-cast-button {
  display: none;
}
