@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --pink-color: rgb(237, 30, 121);
}

body {
  background-color: var(--main-color);
}
