.main_container {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  font-family: "Roboto Serif", sans-serif;
}

.picture_container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture_container > img {
  width: 100%;
  object-fit: cover;
  height: 450px;
}

.picture_container > h1 {
  text-align: center;
  position: absolute;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(13, 25, 80);
}

.services_container {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

.single_service {
  display: flex;
  justify-content: space-between;
}

.single_service > p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.3em;
}

.single_service > div > svg {
  font-size: 5em;
  color: rgb(13, 25, 80);
}

.single_service:nth-child(odd) {
  flex-direction: row;
}

.single_service:nth-child(even) {
  flex-direction: row-reverse;
}

.single_service > p {
  width: 50%;
  padding: 0.5em;
}

.single_service > div {
  width: 50%;
  height: fit-content;
  text-align: center;
  border-radius: 25px;
}

@media all and (max-width: 760px) {
  .main_container {
    padding-top: 10em;
  }

  .single_service {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .single_service:nth-child(odd) {
    flex-direction: column;
  }
  .single_service:nth-child(even) {
    flex-direction: column;
  }
  .single_service > p {
    width: 90%;
  }
}
